<h2> New User </h2>

<form action="<%= users_url %>" method="post">
  <%= authenticity_token %>

  <label>Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <button>Add User</button>

</form>
